.about {
  padding-left: 15px; padding-right: 15px; padding-bottom: 15px;
}
.about h2 {
  color: #222; font-size: 16px; line-height: 49px;
  border-bottom: 1px solid #ddd;
}
.about-content {
  padding: 10px;
}
.about-content p {
  margin-top: 10px;
  color: #555; font-size: 14px; line-height: 150%;
}
.about-content h3 {
  margin-top: 15px;
  color: #333; font-size: 15px;
}
.about-content li {
  font-size: 12px; line-height: 32px;
}