@charset "utf-8";
/* CSS Document */
body {
	background: #F2F2F4;
}

body,h1,h2,h3,h4,h5,h6,ul,li,p,dl,dt,dd {
	padding: 0;
	margin: 0;
}

ul,li {
	list-style: none;
}

.RongMain {
	/* width: 935px; */
	background: #fff;
	margin: 0 auto;
	padding-bottom: 20px;
	-moz-border-radius: 5px; /* Gecko browsers */
	-webkit-border-radius: 5px; /* Webkit browsers */
	border-radius: 5px; /* W3C syntax */
}

.RongMain .h1Title {
	background: #29a396;
	font: normal 20px/50px "微软雅黑";
	color: #fff;
	padding-left: 30px;
	-moz-border-radius: 5px 5px 0 0; /* Gecko browsers */
	-webkit-border-radius: 5px 5px 0 0; /* Webkit browsers */
	border-radius: 5px 5px 0 0; /* W3C syntax */
}

.RongMain .lableBar {
	background: #f9f9f9;
	padding: 10px 50px 10px 80px;
	border-bottom: 1px solid #e8e8e8;
}

.RongMain .lableBar .table1 {
	
}

.RongMain .lableBar .table1 td {
	padding: 8px;
	vertical-align: top;
}

.RongMain .lableBar .table1 .textTd {
	font: normal 14px/30px "微软雅黑";
	width: 120px;
	color: #111;
}

.RongMain .lableBar .table1 .textTd2 {
	font: normal 14px/30px "微软雅黑";
	color: #111;
}

.RongMain .lableBar .table1 .checkTd a {
	background: #dfdfdf url(../images/icon-check.png) 3px center no-repeat;
	font: normal 14px "微软雅黑";
	color: #333;
	padding: 5px 15px 5px 35px;
	text-decoration: none;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	margin: 0px 10px 0px 0px;
	float: left;
}

/* .RongMain .lableBar .table1 .checkTd a:hover {
	background: #74c543 url(../images/icon-checkon.png) 3px center no-repeat;
} */

.RongMain .lableBar .table1 .checkTd a.online {
	background: #74c543 url(../images/icon-check.png) 3px center no-repeat;
	font: normal 14px "微软雅黑";
	color: #333;
	padding: 5px 15px 5px 35px;
	text-decoration: none;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	margin: 0px 10px 0px 0px;
}

.RongMain .lableBar .table1 .checkTd a.check {
	background: #74c543 url(../images/icon-checkon.png) 3px center no-repeat;
	font: normal 14px "微软雅黑";
	color: #333;
	padding: 5px 15px 5px 35px;
	text-decoration: none;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	margin: 0px 10px 0px 0px;
}

.RongMain .lableBar .table1 .boxTd .dxTextbox {
	font: normal 14px/22px "微软雅黑";
	border: 1px solid #e6e9ed;
	background: #fff;
	width: 600px;
	height: 180px;
}

.RongMain .lableBar .table1 .infoSM {
	font: normal 12px/22px "微软雅黑";
	color: #999;
}

.btn_submit_green {
	background: #29a396 url(../images/btnbg_green.png) repeat-x;
	height: 36px;
	font: normal 14px "微软雅黑";
	color: #fff;
	border: 1px solid #29a396;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0 40px 0 40px
}

.btn_submit_green:hover {
	background: #29a396 url(../images/btnbg_green_on.png) repeat-x;
}

.btn_reset_hui {
	background: #ccc url(../images/btnbg_hui.png) repeat-x;
	height: 36px;
	font: normal 14px "微软雅黑";
	color: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0 40px 0 40px;
	margin-left: 10px;
}

.btn_reset_hui:hover {
	background: #29a396 url(../images/btnbg_hui_on.png) repeat-x;
}

.jkcxMain {
	padding: 20px 30px 20px 50px;
}

.jkcxMain .QAlist {
	background: url(../images/line2.png) 114px top repeat-y;
	padding-bottom: 10px;
}

.jkcxMain .QAlist h1 {
	font: normal 14px/22px "arial";
	color: #111;
	background: url(../images/line1.png) 5px center repeat-x;
	display: block;
}

.jkcxMain .QAlist dl {
	margin-left: 90px;
	display: block;
}

.jkcxMain .QAlist dl dt {
	background: url(../images/icon-ask.png) left center no-repeat;
	padding: 20px 10px 20px 60px;
	font: bold 14px/22px "微软雅黑";
	color: #111;
}

.jkcxMain .QAlist dl dd.green {
	background: url(../images/icon-qu-green.png) left top no-repeat;
	padding: 15px 10px 15px 80px;
	font: normal 12px/22px "微软雅黑";
	color: #666;
}

.jkcxMain .QAlist dl dd.yellow {
	background: url(../images/icon-qu-yellow.png) left top no-repeat;
	padding: 15px 10px 15px 80px;
	font: normal 12px/22px "微软雅黑";
	color: #666;
}

.jkcxMain .QAlist dl dd.red {
	background: url(../images/icon-qu-red.png) left top no-repeat;
	padding: 15px 10px 15px 80px;
	font: normal 12px/22px "微软雅黑";
	color: #666;
}

.jkcxMain .QAlist dl dd .timeSpan {
	display: block;
	font: normal 12px "arial";
	color: #999;
	text-align: right;
	padding-top: 15px;
}

.jkcxMain .QAlist .userImg {
	width: 70px;
	height: 70px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	float: left;
	overflow: hidden;
	background: #eee;
	margin-top: 0px;
}

.fybar {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	MARGIN: 30px;
	PADDING-TOP: 3px;
	TEXT-ALIGN: center;
	font-family: arial;
	font-size: 12px;
}

.fybar A {
	BORDER-RIGHT: #29a396 1px solid;
	PADDING-RIGHT: 8px;
	BORDER-TOP: #29a396 1px solid;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 5px;
	MARGIN: 2px;
	BORDER-LEFT: #29a396 1px solid;
	COLOR: #666;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #29a396 1px solid;
	TEXT-DECORATION: none
}

.fybar A:hover {
	BORDER-RIGHT: #29a396 1px solid;
	BORDER-TOP: #29a396 1px solid;
	BORDER-LEFT: #29a396 1px solid;
	COLOR: #666;
	BORDER-BOTTOM: #29a396 1px solid;
	background: #4ccabd;
}

.fybar A:active {
	BORDER-RIGHT: #29a396 1px solid;
	BORDER-TOP: #000099 1px solid;
	BORDER-LEFT: #29a396 1px solid;
	COLOR: #666;
	BORDER-BOTTOM: #000099 1px solid
}

.fybar SPAN.current {
	BORDER-RIGHT: #29a396 1px solid;
	PADDING-RIGHT: 8px;
	BORDER-TOP: #29a396 1px solid;
	PADDING-LEFT: 8px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 5px;
	MARGIN: 2px;
	BORDER-LEFT: #29a396 1px solid;
	COLOR: #fff;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #29a396 1px solid;
	BACKGROUND-COLOR: #29a396
}

.fybar SPAN.disabled {
	BORDER-RIGHT: #eee 1px solid;
	PADDING-RIGHT: 8px;
	BORDER-TOP: #eee 1px solid;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 5px;
	MARGIN: 2px;
	BORDER-LEFT: #eee 1px solid;
	COLOR: #ddd;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #eee 1px solid
}

.RongMain .but_bar {
	text-align: center;
	padding: 20px;
}

.RongMain .but_bar .btn_wyyy_green {
	background: #29a396 url(../images/btnbg_green.png) repeat-x;
	height: 45px;
	font: normal 14px/45px "微软雅黑";
	color: #fff;
	border: 1px solid #29a396;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	width: 200px;
}

.RongMain .but_bar .btn_wyyy_green:hover {
	background: #32b4a8 url(../images/btnbg_green_on.png) repeat-x;
}

.RongMain .woyyy .table2 {
	width: 86%;
	margin-top: 20px;
}

.RongMain .woyyy .table2 td {
	padding: 5px;
	vertical-align: top;
}

.RongMain .woyyy .table2 .textTd {
	font: normal 14px/30px "微软雅黑";
	width: 100px;
	color: #111;
}

.RongMain .woyyy .table2 .textTd2 {
	font: normal 14px/30px "微软雅黑";
	color: #111;
}

.RongMain .woyyy .table2 .boxTd .oneTextbox {
	font: normal 14px/22px "微软雅黑";
	border: 1px solid #e6e9ed;
	background: #fff;
	width: 700px;
	height: 30px;
}

.RongMain .woyyy .table2 .boxTd .oneTextbox2 {
	font: normal 14px/22px "微软雅黑";
	border: 1px solid #e6e9ed;
	background: #fff;
	width: 346px;
	height: 30px;
}

.lableBar.noneBottomBore {
	border-bottom: none;
}

.bgColor_f9 {
	background: #f9f9f9;
}

.RongMain .dateTable {
	width: 700px;
	background: #fff;
	border-right: 3px solid #eee;
	border-bottom: 3px solid #eee;
}

.RongMain .dateTable td {
	padding: 30px 0;
}

.RongMain .dateTable .td1 {
	background: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font: normal 14px/22px "微软雅黑";
	color: #666;
	text-align: center;
	padding-top: 20px;
}

.RongMain .dateTable .td1 a {
	width: 30px;
	height: 30px;
	display: block;
	margin-top: 5px;
}

.RongMain .dateTable .td1 a.left {
	background: url(../images/icon-arrow.png) center 7px no-repeat;
}

.RongMain .dateTable .td1 a.left:hover {
	background: #eee url(../images/icon-arrow.png) center 7px no-repeat;
}

.RongMain .dateTable .td1 a.right {
	background: url(../images/icon-arrow.png) center -41px no-repeat;
}

.RongMain .dateTable .td1 a.right:hover {
	background: #eee url(../images/icon-arrow.png) center -41px no-repeat;
}

.RongMain .dateTable .td2 {
	background: #fff;
	border-bottom: 1px dotted #ddd;
	font: normal 14px/70px "微软雅黑";
	color: #333;
	text-align: center;
}

.RongMain .dateTable .td2 a {
	color: #333;
	text-decoration: none;
	padding: 5px;
}

.RongMain .dateTable .td2 a:hover {
	color: #27a398;
	background: #eee;
	padding: 5px;
}

.RongMain .dateTable .td2 a.xzOn {
	color: #fff;
	text-decoration: none;
	padding: 5px;
	background: #27a398;
}

.RongMain .dateTable .td2 span {
	color: #F00;
	font-family: arial;
}

.RongMain .dateTable .td3 {
	background: #f9f9f9;
	border-bottom: 1px dotted #ddd;
	font: normal 14px/70px "微软雅黑";
	color: #333;
	text-align: center;
}

.RongMain .dateTable .td3 a {
	color: #333;
	text-decoration: none;
	padding: 5px;
}

.RongMain .dateTable .td3 a:hover {
	color: #27a398;
	background: #eee;
	padding: 5px;
}

.RongMain .dateTable .td3 a.xzOn {
	color: #fff;
	text-decoration: none;
	padding: 5px;
	background: #27a398;
}

.RongMain .dateTable .td3 span {
	color: #F00;
	font-family: arial;
}

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity = 50);
}

.white_content {
	display: none;
	position: absolute;
	top: 30%;
	left: 30%;
	width: 40%;
	height: 190px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#666, strength=1);
	/*ie*/
	-moz-box-shadow: 1px 1px 1px 2px #666; /*firefox*/
	-webkit-box-shadow: 1px 1px 1px 2px #666; /*safari或chrome*/
	box-shadow: 1px 1px 1px 2px #666; /*opera或ie9*/
}

.white_content .DivCont {
	padding: 30px 30px;
	color: #333;
	font: normal 14px/150% "微软雅黑";
}

.white_content .DivCont h1 {
	text-align: center;
	font: normal 22px/180% "微软雅黑";
	color: #eb6100;
}

.white_content .DivCont h2 {
	text-align: center;
	font: normal 14px/180% "微软雅黑";
}

.white_content .DivCont h2 span {
	text-align: center;
	color: #2393df;
	font: normal 14px/150% "arial";
}

.white_content .but_close {
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	background-color: #29a396;
	font: normal 18px/50px "微软雅黑";
	color: #fff;
	text-align: center;
	height: 50px;
	margin-top: 140px;
	position: absolute;
	width: 100%;
}

.white_content .but_close:hover {
	background: #2eab9e;
}
/*.white_content_small {
display: none;
position: absolute;
top: 20%;
left: 30%;
width: 40%;
height: 50%;
-moz-border-radius:8px;  -webkit-border-radius:8px;  border-radius:8px;
background-color: white;
z-index:1002;
overflow: auto;
}*/
/* 预约反馈结束 */

/* 评价 */
.pingjia_content {
	display: none;
	position: absolute;
	top: 30%;
	left: 30%;
	width: 40%;
	height: 290px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#666, strength=1);
	/*ie*/
	-moz-box-shadow: 1px 1px 1px 2px #666; /*firefox*/
	-webkit-box-shadow: 1px 1px 1px 2px #666; /*safari或chrome*/
	box-shadow: 1px 1px 1px 2px #666; /*opera或ie9*/
}

.pingjia_content .DivCont {
	padding: 30px 30px;
	color: #333;
	font: normal 14px/150% "微软雅黑";
}

.pingjia_content .DivCont h1 {
	text-align: left;
	font: normal 18px/180% "微软雅黑";
	color: #333;
}

.pingjia_content .DivCont h2 {
	text-align: center;
	font: normal 14px/180% "微软雅黑";
}

.pingjia_content .DivCont h2 textarea {
	width: 100%;
	height: 120px;
}

.pingjia_content .but_close {
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	background-color: #29a396;
	font: normal 18px/50px "微软雅黑";
	color: #fff;
	text-align: center;
	height: 50px;
	margin-top: 240px;
	position: absolute;
	width: 100%;
}

.pingjia_content .but_close:hover {
	background: #2eab9e;
}

/* 趋势 */
.qst_content {
	display: none;
	position: absolute;
	top: 30%;
	left: 30%;
	width: 40%;
	min-width: 700px;
	height: 390px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#666, strength=1);
	/*ie*/
	-moz-box-shadow: 1px 1px 1px 2px #666; /*firefox*/
	-webkit-box-shadow: 1px 1px 1px 2px #666; /*safari或chrome*/
	box-shadow: 1px 1px 1px 2px #666; /*opera或ie9*/
}

.qst_content .DivCont {
	padding: 30px 30px;
	color: #333;
	font: normal 14px/150% "微软雅黑";
}

.qst_content .DivCont h1 {
	text-align: center;
	font: normal 18px/180% "微软雅黑";
	color: #333;
}

.qst_content .DivCont h2 {
	text-align: center;
	font: normal 14px/180% "微软雅黑";
}

.qst_content .DivCont h2 img {
	width: 600px;
	height: 250px;
	overflow: hidden;
	display: block;
}

.qst_content .DivCont h2 span {
	text-align: center;
	color: #2393df;
	font: normal 14px/150% "arial";
}

.qst_content .but_close {
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	background-color: #29a396;
	font: normal 18px/50px "微软雅黑";
	color: #fff;
	text-align: center;
	height: 50px;
	margin-top: 340px;
	position: absolute;
	width: 100%;
}

.qst_content .but_close:hover {
	background: #2eab9e;
}

/* 反馈 */
.guest_content {
	display: none;
	position: absolute;
	top: 30%;
	left: 30%;
	width: 50%;
	height: 390px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#666, strength=1);
	/*ie*/
	-moz-box-shadow: 1px 1px 1px 2px #666; /*firefox*/
	-webkit-box-shadow: 1px 1px 1px 2px #666; /*safari或chrome*/
	box-shadow: 1px 1px 1px 2px #666; /*opera或ie9*/
}

.guest_content .DivCont {
	padding: 30px 30px;
	color: #333;
	font: normal 14px/150% "微软雅黑";
}

.guest_content .DivCont h1 {
	text-align: left;
	font: normal 18px/180% "微软雅黑";
	color: #333;
}

.guest_content .DivCont h2 {
	text-align: center;
	font: normal 14px/180% "微软雅黑";
}

.guest_content .DivCont h2 textarea {
	width: 100%;
	height: 250px;
}

.guest_content .but_close.cancel {
	-moz-border-radius: 0 0 0 8px;
	-webkit-border-radius: 0 0 0 8px;
	border-radius: 0 0 0 8px;
	background-color: #a4a4a4;
	font: normal 18px/50px "微软雅黑";
	color: #fff;
	text-align: center;
	height: 50px;
	margin-top: 340px;
	position: absolute;
	width: 50%;
}

.guest_content .but_close.cancel:hover {
	background: #b8b8b8;
}

.guest_content .but_close.submit {
	-moz-border-radius: 0 0 8px 0;
	-webkit-border-radius: 0 0 8px 0;
	border-radius: 0 0 8px 0;
	background-color: #29a396;
	font: normal 18px/50px "微软雅黑";
	color: #fff;
	text-align: center;
	height: 50px;
	margin-top: 340px;
	position: absolute;
	width: 50%;
	left: 50%;
}

.guest_content .but_close.submit:hover {
	background: #2eab9e;
}

.RongMain1185 {
	width: 1185px;
	background: #fff;
	margin: 0 auto;
	padding-bottom: 20px;
	-moz-border-radius: 5px; /* Gecko browsers */
	-webkit-border-radius: 5px; /* Webkit browsers */
	border-radius: 5px; /* W3C syntax */
}

.RongMain1185 .h1Title {
	background: #29a396;
	font: normal 20px/50px "微软雅黑";
	color: #fff;
	padding-left: 30px;
	-moz-border-radius: 5px 5px 0 0; /* Gecko browsers */
	-webkit-border-radius: 5px 5px 0 0; /* Webkit browsers */
	border-radius: 5px 5px 0 0; /* W3C syntax */
}

.RongMain1185 .zbjkBar {
	background: #f3f5f8;
	padding: 10px 30px 10px 30px;
}

.RongMain1185 .zbjkBar .tableSearh {
	
}

.RongMain1185 .zbjkBar .tableSearh td {
	padding: 8px;
}

.RongMain1185 .zbjkBar .tableSearh td img {
	border: 0;
}

.RongMain1185 .zbjkBar .tableSearh .textTd {
	font: normal 14px/30px "微软雅黑";
	width: 60px;
	color: #111;
	white-space: nowrap;
	vertical-align: top;
}

.RongMain1185 .zbjkBar .tableSearh .textTd2,.boxTd {
	font: normal 14px/30px "微软雅黑";
	color: #111;
	white-space: nowrap;
}

.RongMain1185 .zbjkBar .tableSearh .boxTd .input1 {
	/* width: 343px; */
	width: 302px;
	font: normal 14px/28px "微软雅黑";
	border: 1px solid #e6e9ed;
	background: #fff;
	height: 28px;
}

.RongMain1185 .zbjkBar .tableSearh .boxTd .input2 {
	width: 160px;
	font: normal 14px/28px "微软雅黑";
	border: 1px solid #e6e9ed;
	background: #fff;
	height: 28px;
}

.RongMain1185 .zbjkBar .tableSearh .boxTd .input1 :focus{border:1px solid #fe6102; color:#0C0;}




.RongMain1185 .zbjkBar .tableSearh .infoSM {
	font: normal 12px/22px "微软雅黑";
	color: #999;
}

.RongMain1185 .zbjkBar .tableSearh .mineZx {
	padding: 2px;
	border: 1px solid #e5e5e5;
	height: 44px;
	background: #fff;
	width: 134px;
	margin: 0 auto;
	-moz-border-radius: 3px; /* Gecko browsers */
	-webkit-border-radius: 3px; /* Webkit browsers */
	border-radius: 3px; /* W3C syntax */
}

.RongMain1185 .zbjkBar .tableSearh .mineZx dt a {
	height: 42px;
	width: 80px;
	font: normal 14px/42px "微软雅黑";
	border: 1px solid #29a396;
	background: url(../images/btnbg_green2.png);
	display: block;
	text-align: center;
	color: #fff;
	text-decoration: none;
	float: left;
	-moz-border-radius: 2px; /* Gecko browsers */
	-webkit-border-radius: 2px; /* Webkit browsers */
	border-radius: 2px; /* W3C syntax */
}

.RongMain1185 .zbjkBar .tableSearh .mineZx dt a:hover {
	background: url(../images/btnbg_green2_on.png);
}

.RongMain1185 .zbjkBar .tableSearh .mineZx dd {
	font: normal 14px/44px "微软雅黑";
	float: left;
	/* width: 50px; */
	text-align: center;
	color: #999;
	display: block;
}

.RongMain1185 .zbjkBar .tableSearh .mineZx dd span {
	color: #F00;
	font-family: arial;
}

.RongMain1185 .zbjkList .zbjkListTable {
	border-top: 1px solid #e5e5e5;
}

.RongMain1185 .zbjkList .zbjkListTable .title {
	background: url(../images/zbjkListTableTitlebg.png) repeat-x;
	border-bottom: 1px solid #d2d2d2;
	text-align: center;
	font: normal 14px/45px "微软雅黑";
	color: #111;
	white-space: nowrap;
}

.RongMain1185 .zbjkList .zbjkListTable .tdCss1 {
	background: #fff;
	border-bottom: 1px solid #e7e7e7;
	text-align: center;
	font: normal 14px/24px "arial";
}

.RongMain1185 .zbjkList .zbjkListTable .tdCss1 img {
	padding-top: 5px;
}

.RongMain1185 .zbjkList .zbjkListTable .tdCss2 {
	background: #f5f7fa;
	border-bottom: 1px solid #e7e7e7;
	text-align: center;
	font: normal 14px/24px "arial";
}

.RongMain1185 .zbjkList .zbjkListTable .tdCss2 img {
	padding-top: 5px;
}

.guestMain {
	padding: 10px 20px;
}

.guestMain .aminQAlist {
	border: 2px solid #fff;
	margin-bottom: 8px;
}

.guestMain .aminQAlist:hover {
	border: 2px solid #c7d89e;
	margin-bottom: 8px;
}

.guestMain .aminQAlist.check {
	border: 2px solid #29a396;
	margin-bottom: 8px;
}

.guestMain .aminQAlist h1 {
	font: normal 12px "arial";
	color: #111;
	background: #edeef2;
	display: block;
	padding: 10px 15px;
}

.guestMain .aminQAlist h1 .zxtime {
	display: block;
	float: right;
	font: normal 12px "arial";
	color: #5581a2;
}

.guestMain .aminQAlist h1 .zxtime a {
	background: url(../images/icon_reset.png) center left no-repeat;
	padding-left: 12px;
	color: #06C;
	text-decoration: none;
}

.guestMain .aminQAlist h1 .zxtime a:hover {
	color: #F60;
	cursor:pointer;
}

.guestMain .aminQAlist h1 span {
	color: #0068b7;
	font-weight: bold;
}

.guestMain .aminQAlist dl {
	background: #f9f9f9 url(../images/adminListbg.png) repeat-y;
	display: block;
	padding: 10px;
	padding-left: 100px;
	min-height: 70px;
}

.guestMain .aminQAlist dl dt {
	background: url(../images/icon-ask.png) left center no-repeat;
	padding: 10px 10px 10px 60px;
	font: bold 14px/22px "微软雅黑";
	color: #111;
}

.guestMain .aminQAlist dl dd.green {
	background: url(../images/icon-qu-green.png) left top no-repeat;
	padding: 10px 10px 10px 80px;
	font: normal 12px/22px "微软雅黑";
	color: #666;
}

.guestMain .aminQAlist dl dd.yellow {
	background: url(../images/icon-qu-yellow.png) left top no-repeat;
	padding: 10px 10px 10px 80px;
	font: normal 12px/22px "微软雅黑";
	color: #666;
}

.guestMain .aminQAlist dl dd.red {
	background: url(../images/icon-qu-red.png) left top no-repeat;
	padding: 10px 10px 10px 80px;
	font: normal 12px/22px "微软雅黑";
	color: #666;
}

.guestMain .aminQAlist dl dd .timeSpan {
	display: block;
	font: normal 12px "arial";
	color: #999;
	text-align: right;
	padding-top: 5px;
}

.guestMain .aminQAlist .userImg {
	width: 70px;
	height: 70px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	float: left;
	overflow: hidden;
	background: #eee;
	margin-top: 10px;
	margin-left: 10px;
}