<div class="col-xs-19">
<!-- 	家庭成员 -->
	<div style="overflow:auto;padding: 30px;height: 546px;" class="panel">
<!-- 	<div style="margin:10px"> -->
	<div>
		<!-- 家庭成员 -->
		<div style="font-size: 30px;border-bottom: 1px solid;margin-bottom:2px;font-size: 22px;">
			<span>家庭成员>添加成员</span>			
		</div>

		
<div class="panel">
		<!-- 家庭成员 -->		
		
		<div class="cgxx">
<div style="
    font-weight: bold;
    font-size: 24px;
    position: relative;
    left: -67px;
">
<i style="
    font-size: 58px;
    position: relative;
    top: 13px;
	" class="glyphicon glyphicon-ok-sign"></i>
		恭喜,成员{{$root.userCG.call}}创建成功
		</div>
		<div style="
    font-weight: bold;
    font-size: 14px;
">
		现在可以<br>
		继续为<span ng-if="$root.userCG.gender == 1">他</span><span ng-if="$root.userCG.gender == 0">她</span> <a href="#~/profileMemberEditNew/2/{{$root.userId}}/{{$root.userCG.call}}">创建健康信息</a>   或 <a href="#~/profileMemberEditNew/1/{{$root.userId}}/{{$root.userCG.call}}"> 完善个人信息</a>
		</div>
		
		<div>	
			<h3 class="glyphicon glyphicon-info-sign">提示</h3>
			<div>对于自创建成员,目前暂不支持外部数据导入,包含体检机构,社区医疗中心等</div>
		</div>
		
		</div>
	</div>
					
			
	</div>
</div>
<div win-web-common-alert option="alertOption"></div>
