<div class="col-xs-19">
    

    <div class="panel tasks-widget">
        <div class="panel-heading">
            我的收藏
        </div>
        
        <div class="panel-body">
            <div class="task-content">

                <ul id="sortable" class="task-list">
                    <li ng-repeat="$value in data">
                        <i class="li-icon fa fa-ellipsis-v"></i>
                        <div class="task-title">
                            <span class="task-title-sp " ng-bind="$value.title"></span>
                            <span class="badge badge-sm bg-{{itemColors[$index]}}"  ng-bind="$value.date"></span>
                            <div class="pull-right hidden-phone">
                                <a class="btn btn-success btn-xs" ng-href="#~/chronicDetail/{{$value.id}}"><i class=" fa fa-eye"></i> 查看</a>
                            </div>
                        </div>
                    </li>
                    
                </ul>
            </div>
            
        </div>
    </div>
    
    <div class="pannel-body mt10">
        <div class="panel text-center">
            <pagination total-items="favoriteCounts" ng-model="currentPage"
			ng-change="pageChanged()" boundary-links="true"
			items-per-page="itemsPerPage" max-size="maxSize"
			previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
			last-text="&raquo;"></pagination>
        </div>
    </div>
</div>
