<div class="col-xs-6" ng-controller="ChronicTopCtrl">

	<!--target2 -->
	<div class="panel"   >
		<div class="panel-heading">资讯频道</div>
		<div class="panel-body">
			<div id="chronic-cats">
				<a ng-repeat='type in types' ng-href='#~/chronicCat/{{type.id}}' >
					<span win-web-chronic-word >{{type.name}}</span>
				</a>
			</div>
		</div>
	</div>


	<div class="panel">
		<div class="panel-body">
			<ul class="summary-list">
				<li style="width: 49%;">
					<a href="#~/search1"> <i class="fa fa-cutlery"></i> 食物宜忌</a>
				</li>
				<li style="width: 49%;"><a href="#~/search"> <i class="fa fa-search-plus"></i> 三高问答</a>
				</li>
			</ul>
		</div>
	</div>

	<!--target3 -->
	<div class="panel tasks-widget">
		<div class="panel-heading">点击Top10</div>
		<div class="panel-body">
			<div class="task-content">
				<ul class="task-list" ng-repeat="item in top10">
					<li>
						<div class="task-title">
							<a ng-href="#~/chronicDetail/{{item.id}}"> 
								<span class="badge badge-sm" ng-class="{'label-danger': $index < 3}">{{$index+1}}</span> <span class="task-title-sp">{{item.title}}</span>
								<div class="pull-right hidden-phone">
									<i class="fa fa-eye"></i> {{item.views}}
								</div>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="panel">
		<div class="panel-heading">手机客户端下载</div>
		<div class="panel-body">
			<div class="row text-center">
				<div class="col-xs-12">
					<i class="fa fa-android fa-xl" data-hover-img="img/qr.jpg"></i>
				</div>
				<div class="col-xs-12">
					<i class="fa fa-apple fa-xl" data-hover-img="img/qr.jpg"></i>
				</div>
			</div>
		</div>
	</div>

</div>
