<div class="col-xs-19">
<!-- 	家庭成员 -->
	<div style="overflow:auto;padding: 30px;" class="panel">
<!-- 	<div style="margin:10px"> -->
	<div>
		<!-- 家庭成员 -->
		<div style="font-size: 30px;border-bottom: 1px solid;margin-bottom:2px;font-size: 22px;">
			<span>家庭成员>关注>老婆</span>			
		</div>

		
<div class="panel">
		<!-- 家庭成员 -->		
		
		<div class="panel-heading1 tab-bg-green1" style="margin-top:15px;width: 160px;">
			<ul class="nav nav-tabs" style="width: 200px;border-bottom: none;color:white">
				<li class="active">
					<a data-toggle="tab" href="#~/profile#tc_profile_1">基本信息</a>
				</li>
				<li class="">
					<a data-toggle="tab" href="#~/profile#tc_profile_3" ng-hide="addUserFlag" class="">健康信息</a>
				</li>				
			</ul>
		</div>
		<div class="panel-body">
			<div class="tab-content">
				<div id="tc_profile_1" class="tab-pane active">
					<form class="form-horizontal ng-pristine ng-valid" action="" method="post" id="1271055160" novalidate="novalidate">
						<div class="form-group">
							<div class="col-xs-12 row">
								<label class="col-xs-6 control-label" for="f_nick">帐号</label>
								<div class="help col-xs-8 ng-binding"></div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-xs-12 row">
								<label class="col-xs-6 control-label" for="f_avatar">头像</label>
								<div class="col-xs-5">
									<img src="http://cdn.duitang.com/uploads/item/201303/22/20130322143358_EsXZc.jpeg" ng-src="" height="50" alt="">
								</div>
								<div class="col-xs-13 help">
									<input id="f_avatar" name="avatar" class="form-control" type="file" ng-file-select="onFileSelect($files)">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-12 row">
								<label class="col-xs-6 control-label" for="f_realname">姓名</label>
								<div class="help col-xs-8 ng-binding"></div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-12 row">
								<label class="col-xs-6 control-label" for="">性别</label>
								<div class="col-xs-12">
									<label ng-show="profile.gender=='1'" class="control-label ng-hide">男 </label>
									<label ng-show="profile.gender=='0'" class="control-label ng-hide">女 </label>
								</div>
							</div>

						</div>
						
						<div class="form-group">
							<div class="col-xs-12 row">
								<label class="col-xs-6 control-label" for="">身份证</label>
								<div class="col-xs-12 help ng-binding">
									
								</div>
								<div class="help col-xs-6"></div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12 row">
								<label class="col-xs-6 control-label" for="f_birth">出生年月</label>
								<div class="col-xs-8 help ng-binding">
									
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12 row">
								<label class="col-xs-6 control-label" for="f_prov">所在地 *</label>
								<div class="col-xs-8">
									<select class="form-control ng-pristine ng-valid" ng-model="province" ng-change="changeProvince()" ng-options="c.name for c in provinces"><option value="" class="">选择省份 </option></select>
								</div>
								<div class="col-xs-10">
									<select class="form-control ng-pristine ng-valid" ng-model="city" ng-options="c.name for c in citys"><option value="" class="">请选择城市</option></select>
								</div>

							</div>
						</div>
						
						<div class="form-group">
							<div class="col-xs-12 row">
								<label class="col-xs-6 control-label" for="email">邮箱</label>
								<div class="col-xs-12">
									<input type="email" id="f_idcard" name="email" class="form-control ng-pristine ng-valid ng-valid-email" ng-model="profile.email">
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-xs-12 row">
								<label class="col-xs-6 control-label" for="mobile">手机</label>
								<div class="col-xs-12">
									<input type="text" id="f_idcard" name="mobile" class="form-control ng-pristine ng-valid" ng-model="profile.mobile">
								</div>
								<div class="help col-xs-6"></div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-xs-24 row">
								<label class="col-xs-3 control-label" for="f_slogan">健康宣言</label>
								<div class="col-xs-10">
									<textarea ng-model="profile.description" class="form-control ng-pristine ng-valid" id="f_slogan" name="slogan" rows="4"></textarea>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-xs-20">
								<div class="col-xs-4 col-xs-offset-8">
<!-- 									<button class="btn btn-shadow btn-danger btn-block btn-sm" type="submit" ng-click="submitPerson()" ng-hide="addUserFlag"> -->
<!-- 										保存 -->
<!-- 									</button> -->
									<button class="bg s_btn btn_big">保存</button>
									<!-- <button class="btn btn-shadow btn-danger btn-block btn-sm"
									type="submit" ng-click="addUser()" ng-show="addUserFlag">
										注册
									</button> -->
									<button class="btn btn-shadow btn-danger btn-block btn-sm ng-hide" type="submit" ng-click="fnAddUserNext()" ng-show="addUserFlag">
										下一步
									</button>
								</div>
							</div>
						</div>

					</form>
				</div>
				
				<div id="tc_profile_3" class="tab-pane">
					<form class="form-horizontal ng-pristine ng-valid" action="" method="post" id="1271058160" novalidate="novalidate">
						<div class="form-group" win-web-profile-bmi="">
							<div class="col-xs-12 row">
								<label class="col-xs-6 control-label" for="f_height">身高 *</label>
								<div class="col-xs-5">
									<input class="form-control ng-pristine ng-valid ng-valid-number" id="f_height" name="height" ng-model="profile.tall" type="number">
								</div>
								<div class="col-xs-6 help">
									cm 
								</div>

							</div>

							<div class="col-xs-12 row">
								<label class="col-xs-6 control-label" for="f_weight">体重 *</label>
								<div class="col-xs-5">
									<input id="f_weight" name="weight" class="form-control ng-pristine ng-valid ng-valid-number" ng-model="profile.weight" type="number">
								</div>
								<div class="col-xs-6 help">
									kg 
								</div>
							</div>
						</div>
						
						<!-- BMI-->
						<div class="form-group">
							<div class="col-xs-12 row">
								<label class="col-xs-6 control-label" for="f_weight">BMI</label>
								<div class="col-xs-5">
									<label class="control-label ng-binding"> </label>
								</div>
								<div class="col-xs-6 help">
									kg / m <sup>2</sup>
								</div>
							</div>
							<div class="col-xs-12 row">
								<label class="col-xs-6 control-label" for="f_weight">体形</label>
								<div class="col-xs-6">
									<label class="control-label ng-binding"></label>
								</div>
							</div>
						</div>
						
						<!-- 运动-->
						<div class="form-group">
							<div class="col-xs-12 row">
								<label class="control-label col-xs-6 " for="">吸烟</label>
								<div class="col-xs-8">
									<select class="form-control ng-pristine ng-valid" ng-model="smoke" ng-options="c.name for c in smokes"><option value="" class="">请选择</option><option value="0">无（不吸烟）</option><option value="1">偶尔（平均每日少于3支）</option><option value="2">一般（平均每日少于10支）</option><option value="3">嗜好（平均每日10支以上）</option><option value="4">最近一个月刚戒烟</option></select>
								</div>
							</div>
							<div class="col-xs-12 row">
								<label class="control-label col-xs-6 " for="">饮酒</label>
								<div class="col-xs-8">
									<select class="form-control ng-pristine ng-valid" ng-model="drink" ng-options="c.name for c in drinks"><option value="" class="">请选择</option><option value="0">无（不喝酒）</option><option value="1">偶尔（平均每日少于1两白酒或1瓶啤酒）</option><option value="2">一般（平均每日少于3两白酒或3瓶啤酒）</option><option value="3">嗜好（平均每日3两白酒或3瓶啤酒以上）</option></select>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-xs-12 row">
								<label class="control-label col-xs-6 " for="">运动</label>
								<div class="col-xs-8">
									<select class="form-control ng-pristine ng-valid" ng-model="sport" ng-options="c.name for c in sports"><option value="" class="">请选择</option><option value="0">从不运动或者每天运动时间不足10分钟，或运动时心率低于110次/分钟</option><option value="1">运动偏少，平均每日运动时间不足30分钟</option><option value="2">经常运动，平均每天运动时间超过30分钟且运动时心率大于110次/分钟</option><option value="3">运动过量，连续大运动量或运动量增加过快导致全身乏力、运动性头痛等</option></select>
								</div>
							</div>
							<div class="col-xs-12 row">
								<label class="control-label col-xs-6 " for="">睡眠</label>
								<div class="col-xs-8">
									<select class="form-control ng-pristine ng-valid" ng-model="sleep" ng-options="c.name for c in sleeps"><option value="" class="">请选择</option><option value="0">睡眠时间保证或睡觉醒来精力充沛</option><option value="1">入睡困难，入睡时间超过30分钟</option><option value="2">每日睡眠时间不足6小时</option><option value="3">睡眠时间充足，但醒来后身体疲劳感还是没有得到改善</option></select>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-12 row">
								<label class="control-label col-xs-6 " for="">行业</label>
								<div class="col-xs-8">
									<select class="form-control ng-pristine ng-valid" ng-model="job" ng-options="c.name for c in jobs"><option value="" class="">请选择</option><option value="0">企事业高管</option><option value="1">办公室职员</option><option value="2">一线工人</option><option value="3">教师</option><option value="4">公检法人员</option><option value="5">医务人员</option><option value="6">外勤人员</option><option value="7">特殊作业人员</option><option value="8">自由职业</option><option value="9">农民</option><option value="10">学生</option><option value="11">其他</option></select>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-12 row">
								<label class="col-xs-6 control-label" for="">是否孕产妇
								<div class="col-xs-12" data-form="pregnant">
									<label class="radio radio-inline label_radio " ng-class="{r_on:profile.isPregnant == 1}" for="f_pregnant0">
										<input id="f_pregnant0" value="1" type="radio" name="pregnant" ng-click="profile.isPregnant=true">
										是 </label>

									<label class="radio radio-inline label_radio " ng-class="{r_on:profile.isPregnant == 0}" for="f_pregnant1">
										<input id="f_pregnant1" value="0" type="radio" name="pregnant" ng-click="profile.isPregnant=false;profile.pregnatWeeks=0">
										否 </label>
								</div>								
							</div>
						</div>
						
						<div class="form-group ng-hide" ng-show="profile.isPregnant">
							<div class="col-xs-24 row">
								<label class="col-xs-3 control-label" for="">怀孕 *</label>	
								<div class="col-xs-2">
									<input class="form-control ng-pristine ng-valid" ng-model="profile.pregnatWeeks" type="text">
								</div>
								<div class="col-xs-18 help">
									周    （0-12周）孕早期 （13-27周）孕中期 （28周以上）孕晚期
								</div>					
							</div>
						</div>
						
						<div class="form-group">

							<div class="col-xs-24 row">
								<label class="col-xs-3 control-label" for="">手术史</label>
								<div class="col-xs-10" data-form="operations">
									<label class="radio radio-block label_radio " for="f_operations0" ng-class="{r_on:profile.operationHis==0}">
										<input id="f_operations0" value="0" type="radio" name="operations" ng-click="profile.operationHis=0">
										无 </label>

									<label class="radio radio-block label_radio " for="f_operations1" ng-class="{r_on:profile.operationHis==1}">
										<input id="f_operations1" value="1" type="radio" name="operations" ng-click="profile.operationHis=1">
										局部麻醉的小手术（对正常运动无影响） </label>

									<label class="radio radio-block label_radio" for="f_operations2" ng-class="{r_on:profile.operationHis==2}">
										<input id="f_operations2" value="2" type="radio" name="operations" ng-click="profile.operationHis=2">
										中型手术（对剧烈运动有影响） </label>

									<label class="radio radio-block label_radio " for="f_operations3" ng-class="{r_on:profile.operationHis==3}">
										<input id="f_operations3" value="3" type="radio" name="operations" ng-click="profile.operationHis=3">
										大型手术（基本不适合较大强度运动） </label>

								</div>

							</div>

						</div>
						
						
						<!-- 家族史-->
						<div class="form-group">
							<div class="col-xs-24 row">
								<label class="col-xs-3 control-label" for="">家族史</label>
								<div class="col-xs-21 diseases-items" data-form="familyHistory">
										<label class="checkbox checkbox-inline label_check label-none" ng-class="{c_on:noFamilyDiseases}" ng-click="noFamilyDiseasesMethod()">
											<input value="0" type="checkbox" ng-model="noFamilyDiseases" class="ng-pristine ng-valid">无 
										</label>
										<div id="familyDiseases" win-web-profile-family-disease="" style="">
											<!-- ngRepeat: v in familyDiseases --><label ng-repeat="v in familyDiseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" ng-class="{c_on:v.checked}">
												<input type="checkbox" ng-model="v.checked" class="ng-pristine ng-valid">高血压
											</label><!-- end ngRepeat: v in familyDiseases --><label ng-repeat="v in familyDiseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" ng-class="{c_on:v.checked}">
												<input type="checkbox" ng-model="v.checked" class="ng-pristine ng-valid">糖尿病
											</label><!-- end ngRepeat: v in familyDiseases --><label ng-repeat="v in familyDiseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" ng-class="{c_on:v.checked}">
												<input type="checkbox" ng-model="v.checked" class="ng-pristine ng-valid">冠心病
											</label><!-- end ngRepeat: v in familyDiseases --><label ng-repeat="v in familyDiseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" ng-class="{c_on:v.checked}">
												<input type="checkbox" ng-model="v.checked" class="ng-pristine ng-valid">肥胖
											</label><!-- end ngRepeat: v in familyDiseases --><label ng-repeat="v in familyDiseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" ng-class="{c_on:v.checked}">
												<input type="checkbox" ng-model="v.checked" class="ng-pristine ng-valid">痛风
											</label><!-- end ngRepeat: v in familyDiseases --><label ng-repeat="v in familyDiseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" ng-class="{c_on:v.checked}">
												<input type="checkbox" ng-model="v.checked" class="ng-pristine ng-valid">肿瘤
											</label><!-- end ngRepeat: v in familyDiseases --><label ng-repeat="v in familyDiseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" ng-class="{c_on:v.checked}">
												<input type="checkbox" ng-model="v.checked" class="ng-pristine ng-valid">中风
											</label><!-- end ngRepeat: v in familyDiseases --><label ng-repeat="v in familyDiseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" ng-class="{c_on:v.checked}">
												<input type="checkbox" ng-model="v.checked" class="ng-pristine ng-valid">高血脂
											</label><!-- end ngRepeat: v in familyDiseases --><label ng-repeat="v in familyDiseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" ng-class="{c_on:v.checked}">
												<input type="checkbox" ng-model="v.checked" class="ng-pristine ng-valid">骨质疏松
											</label><!-- end ngRepeat: v in familyDiseases -->	
										</div>
								</div>
							</div>
						</div>
						
						<!-- 我的疾病 -->
						<div class="form-group">
							<div class="col-xs-24 row">
								<label class="col-xs-3 control-label" for="">我的疾病情况 *</label>
								<div class="col-xs-21 diseases-items" data-form="diseases">
									<label class="checkbox checkbox-inline label_check label-none" ng-class="{c_on:noDiseases}" ng-click="noDiseasesMethod()">
										<input type="checkbox" ng-model="noDiseases" class="ng-pristine ng-valid">无
									</label>
								<div id="disease" win-web-profile-disease="" style="">
									<!-- ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases0" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases0" ng-model="disease.checked" class="ng-pristine ng-valid">高血压
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases1" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases1" ng-model="disease.checked" class="ng-pristine ng-valid">高血脂
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases2" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases2" ng-model="disease.checked" class="ng-pristine ng-valid">冠心病
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases3" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases3" ng-model="disease.checked" class="ng-pristine ng-valid">脂肪肝
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases4" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases4" ng-model="disease.checked" class="ng-pristine ng-valid">痛风
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases5" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases5" ng-model="disease.checked" class="ng-pristine ng-valid">肥胖
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases6" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases6" ng-model="disease.checked" class="ng-pristine ng-valid">糖尿病
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases7" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases7" ng-model="disease.checked" class="ng-pristine ng-valid">贫血
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases8" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases8" ng-model="disease.checked" class="ng-pristine ng-valid">骨质疏松
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases9" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases9" ng-model="disease.checked" class="ng-pristine ng-valid">慢性胃炎
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases10" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases10" ng-model="disease.checked" class="ng-pristine ng-valid">胃食管反流
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases11" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases11" ng-model="disease.checked" class="ng-pristine ng-valid">消化性溃疡
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases12" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases12" ng-model="disease.checked" class="ng-pristine ng-valid">便秘
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases13" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases13" ng-model="disease.checked" class="ng-pristine ng-valid">慢性腹泻
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases14" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases14" ng-model="disease.checked" class="ng-pristine ng-valid">慢性肝炎
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases15" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases15" ng-model="disease.checked" class="ng-pristine ng-valid">胆囊炎
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases16" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases16" ng-model="disease.checked" class="ng-pristine ng-valid">胆结石
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases17" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases17" ng-model="disease.checked" class="ng-pristine ng-valid">肝硬化
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases18" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases18" ng-model="disease.checked" class="ng-pristine ng-valid">慢性肾病
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases19" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases19" ng-model="disease.checked" class="ng-pristine ng-valid">尿路结石
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases20" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases20" ng-model="disease.checked" class="ng-pristine ng-valid">甲亢
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases21" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases21" ng-model="disease.checked" class="ng-pristine ng-valid">哮喘
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases22" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases22" ng-model="disease.checked" class="ng-pristine ng-valid">慢性阻塞性肺病
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases23" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases23" ng-model="disease.checked" class="ng-pristine ng-valid">骨关节炎
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases24" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases24" ng-model="disease.checked" class="ng-pristine ng-valid">椎间旁突出
									</label><!-- end ngRepeat: disease in diseases --><label ng-repeat="disease in diseases" class="checkbox checkbox-inline label_check ng-scope ng-binding" for="f_diseases25" ng-class="{c_on:disease.checked}">
										<input type="checkbox" id="f_diseases25" ng-model="disease.checked" class="ng-pristine ng-valid">肿瘤康复期
									</label><!-- end ngRepeat: disease in diseases -->
								  </div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-20">
								<div class="col-xs-4 col-xs-offset-8">
<!-- 									<button class="btn btn-shadow btn-danger btn-block  btn-sm" type="submit" ng-click="submitHealth()" ng-hide="addUserFlag"> -->
<!-- 										保存 -->
<!-- 									</button> -->
									<button class="bg s_btn btn_big">保存</button>
									 <button class="btn btn-shadow btn-danger btn-block btn-sm ng-hide" type="submit" ng-click="addUser()" ng-show="addUserFlag">
										注册
									</button>
								</div>
							</div>
						</div>

					</form>
				</div>
				<div id="tc_profile_4" class="tab-pane">

					<form class="form-horizontal ng-valid ng-dirty" action="" method="post" id="1271054360" novalidate="novalidate">

						<fieldset>
							<legend>
								修改密码
							</legend>
							<div class="form-group">
								<div class="col-xs-12 row">
									<label class="col-xs-6 control-label" for="f_password">当前密码</label>
									<div class="col-xs-8">
										<input id="f_password" name="password" class="form-control ng-valid ng-dirty" type="password" ng-model="currentPwd" data-original-title="" title="" ismxfilled="1" style="background-color: rgb(250, 255, 189); background-position: initial initial; background-repeat: initial initial;">
									</div>
									<div class="help col-xs-6">
										*
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-12 row">
									<label class="col-xs-6 control-label" for="f_newPassword">新密码</label>
									<div class="col-xs-8">
										<input id="f_newPassword" name="newPassword" class="form-control ng-valid ng-dirty" type="password" ng-model="newPwd" data-original-title="" title="" ismxfilled="1" style="background-color: rgb(250, 255, 189); background-position: initial initial; background-repeat: initial initial;">
									</div>
									<div class="help col-xs-6">
										*
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-12 row">
									<label class="col-xs-6 control-label" for="f_newPassword2">重复密码</label>
									<div class="col-xs-8">
										<input id="f_newPassword2" name="newPassword2" class="form-control ng-valid ng-dirty" type="password" ng-model="confirmwd" data-original-title="" title="" ismxfilled="1" style="background-color: rgb(250, 255, 189); background-position: initial initial; background-repeat: initial initial;">
									</div>
									<div class="help col-xs-6">
										*
									</div>
								</div>
							</div>

						</fieldset>
						<div class="form-group">
							<div class="col-xs-20">
								<div class="col-xs-4 col-xs-offset-8">
<!-- 									<button class="btn btn-shadow btn-danger btn-block btn-sm" type="submit" ng-click="submitSafety()"> -->
<!-- 										保存 -->
<!-- 									</button> -->
									<button class="bg s_btn btn_big">保存</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div id="tc_profile_add" class="tab-pane">
					<form class="form-horizontal ng-pristine ng-valid" action="" method="post" id="1271055760">
							<div class="form-group">
								<div class="col-xs-16 row">
									<label class="col-xs-6 control-label">姓名</label>
									<div class="col-xs-10">
										<input class="form-control ng-pristine ng-valid" type="text" ng-model="newName">
									</div>
									<div class="help col-xs-6">*</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-16 row">
									<label class="col-xs-6 control-label" for="f_newPassword2">身份证</label>
									<div class="col-xs-10">
										<input class="form-control ng-pristine ng-valid" type="text" ng-model="newIdCode">
									</div>
									<div class="help col-xs-6">*</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-16 row">
									<label class="col-xs-6 control-label" for="f_newPassword">密码</label>
									<div class="col-xs-10">
										<input class="form-control ng-pristine ng-valid" ng-model="newPassword" type="password">
									</div>
									<div class="help col-xs-6">*</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-16 row">
									<label class="col-xs-6 control-label" for="f_newPassword2">确认密码</label>
									<div class="col-xs-10">
										<input class="form-control ng-pristine ng-valid" ng-model="confirmPwd" type="password">
									</div>
									<div class="help col-xs-6">*</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-16">
									<div class="col-xs-4 col-xs-offset-8">
										<button class="btn btn-shadow btn-danger btn-block btn-sm" type="submit" ng-click="fnRegister()">
											注册
										</button>
									</div>
								</div>
							</div>
					</form>
				</div>	
			</div>
					
		</div>
		<div class="progress panel-footer progress-xs">
			<div class="progress-bar progress-bar-danger" style="width: 100%"></div>
		</div>
	</div>
					
			
	</div>
</div>
<div win-web-common-alert option="alertOption"></div>
