<div class="col-xs-19">
<!-- 	家庭成员 -->
	<div style="padding: 30px;padding-top: 0px;" class="panel">
<!-- 	<div style="margin:10px"> -->
	<div>
		<!-- 家庭成员 -->
		<div style="font-size: 30px;border-bottom: 1px solid;margin-bottom:2px;font-size: 22px;">
			<div style="
			    float: left;
			    margin-top: 11px;
			">我关注的</div>

<input type="hidden" id="userName"/>

<div class="modal fade  ng-scope" tabindex="-1" id="modal-set" style="display: none;" aria-hidden="true">
    <div class="modal-dialog"  style="top:200px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">修改称呼</h4>
            </div>  
			<div class="modal-body row" style="
			    font-size: 15px;
			">            
					称呼:<input id="requestedUsername" ng-model="callName" type="text"/>												
						             
            </div>
            <div class="modal-footer">            	
                <button type="submit" class="btn btn-primary" ng-click="changeCallName();">&nbsp;&nbsp;确定&nbsp;&nbsp;</button>
                <button type="submit" class="btn btn-primary"  data-dismiss="modal">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade  ng-scope" tabindex="-1" id="modal-set1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" style="top:200px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">取消关注</h4>
            </div>  
            <div class="modal-body row" style="
			    font-size: 15px;
			">
            
					是否确认取消关注	
						             
            </div>
            <div class="modal-footer">            	
                <button type="submit" class="btn btn-primary" ng-click="cancleAttention();">&nbsp;&nbsp;确定&nbsp;&nbsp;</button>
                <button type="submit" class="btn btn-primary"  data-dismiss="modal">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>

<form method="get" action=#~/profileSearch>

<div href="#~/profileSearch/{{keyword}}" style="margin-top:10px;float:right;width: 277px;position: relative;bottom: -10px;" class="clearfix">

<span class="bg s_ipt_wr quickdelete-wrap" style="
    border: 1px solid #b6b6b6;
"><input ng-model="keyword" placeholder="输入对方帐号或姓名" id="kw" name="wd" class="s_ipt" value="" maxlength="100" autocomplete="off"  style="
    height: 20px;
    border: none;
    outline: 0;
    line-height: 15px;
    font-size:14px
"></span><span class="bg s_btn_wr" style="
    height: 32px;
    display: inline-block;
    background-color: rgb(51, 133, 255);
">

<a href="#~/profileSearch/{{keyword}}">
	<button id="su" class="bg s_btn">
		<i class="glyphicon glyphicon-search" style="color: white;"></i>
	</button>
</a>

</span>
</div>

</form>
			<div class="panel-body">
				
			</div>		
		</div>
		
		<div>
		<ul>
				
				<li class="wgzMenu" ng-repeat="o in wgzFamily ">					
				<div class="btn-group familyMenu1">
				   <button type="button" class="btn btn-success dropdown-toggle btn-xs" data-toggle="dropdown">
				      <span class="caret"></span>
				   </button>
				   <ul class="dropdown-menu" role="menu">
				      <li><a onclick="xgch(this)" userName={{o.userName}} data-toggle="modal" href="#modal-set"><span>修改称呼</span></a></li>
				      <li><a onclick="xgch(this)" userName={{o.userName}} data-toggle="modal" href="#modal-set1">取消关注</a></li>
<!-- 				      <li ><a ng-click="cancleAttention(o.userName)" href="javascript:void(0)">取消关注</a></li>			      -->
				   </ul>
				   
				   <script>
				   		function xgch(my){
				   			$("#userName").val($(my).attr("userName"));
				   		}
				   </script>
				   
				</div>
<!-- 		 ng-src='user.pic ? "file/processDownload?file=" + user.pic : "img/pro-ac-1.png"' -->
			<div style="margin-top: -1px;margin:0 auto;margin-top: -1px;width: 130px;position: relative;top: -22px;">
				<a ng-click="fnGetUser(o.userName)" href="#~/profileMemberInfo/{{o.userName}}/{{o.call}}"> <img src="{{o.pic? 'file/processDownload?file=' +o.pic:'img/pro-ac-1.png'}}" style="border-radius: 0;width: 130px;height: 131px;" alt=""> </a>
			<div>			
				
				<h4 ng-show="!o.call==' '">{{o.call}}</h4>
				<h4 ng-show="o.call==' '"><a onclick="xgch(this)" userName={{o.userName}} data-toggle="modal" href="#modal-set"><i class="glyphicon glyphicon-edit"></i>设置称呼</a></h4>
				
				<!-- <h4>{{o.call}}</h4>
				<h4><a onclick="xgch(this)" userName={{o.userName}} data-toggle="modal" href="#modal-set"><i class="glyphicon glyphicon-edit"></i>设置称呼</a></h4> -->
				
				<p ng-show="o.name!=''">{{o.name}}</p>
				<p ng-show="o.name==''">{{o.userName}}</p>
			</div>
			</div>
		</li>
		
		
		<li ng-if="wgzFamily==false" style="padding:10px;background:#E8F0EF;height:190px;width:150px;margin:10px">	
			<div style="margin:0 auto;width:100px">
				<a style="font-size:130px" class="fa fa-plus" href="#~/profileSearch">				
<!-- 				<img  ng-src="file/processDownload?file=" style="border-radius: 0;width:100px;height:100px" alt="" src="file/processDownload?file="> -->
				</a>
<div style="
    font-size: 20px;
">
				关注新成员
				</div>
			</div>

		</li>
		
		
		</ul>
		</div>
		</div>
		
		<div>
		<div style="font-size: 30px;border-bottom: 1px solid;margin-bottom:2px;font-size: 22px;">
			我创建的						
		</div>
		
				<div>
				
				
		<ul>		
		
				<li class="wcjMenu" ng-repeat="o in wcjFamily ">
		
				<div class="btn-group familyMenu1">
				   <button type="button" class="btn btn-success dropdown-toggle btn-xs" data-toggle="dropdown">
				      <span class="caret"></span>
				   </button>
				   <ul class="dropdown-menu" role="menu">
				   
				      <li><a onclick="xgch(this)" userName={{o.userName}} data-toggle="modal" href="#modal-set"><span>修改称呼</span></a></li>
				      <li><a onclick="xgch(this)" userName={{o.userName}} data-toggle="modal" href="#modal-set1">删除</a></li>
				   
<!-- 				      <li><a href="#">修改称呼</a></li> -->
<!-- 				      <li><a href="#">删除</a></li>			      -->
				   </ul>
				</div>
		
			<div style="margin-top: -1px;margin:0 auto;margin-top: -1px;width: 130px;position: relative;top: -22px;">
				<a href="#~/profileMemberInfoNew/{{o.userName}}/{{o.call}}"> <img src="{{o.pic? 'file/processDownload?file=' +o.pic:'img/pro-ac-1.png'}}" style="border-radius: 0;width: 130px;height: 131px;" alt=""> </a>
			<div>			
				<h4>{{o.call}}</h4>
			</div>
			</div>
		</li>			
		
		<li style="padding:10px;float:left; background:#E8F0EF;height:213px;width:150px;margin:10px" >	
			<div style="margin:0 auto;width:100px">
				<a style="font-size:130px"  class="fa fa-plus" href="#~/profileAddMember">				
<!-- 				<img  ng-src="file/processDownload?file=" style="border-radius: 0;width:100px;height:100px" alt="" src="file/processDownload?file="> -->
				</a>
<div style="
    font-size: 20px;
">
				添加新成员
				</div>
			</div>

		</li>
	
		</ul>
		

		
		</div>		
		</div>
		
		<div style="clear:both;position:relative;display:block;margin-bottom: 134px;position: relative;top: 43px;left: 10px;">	
			<h3 class="glyphicon glyphicon-info-sign">提示</h3>
			<div>对于自创建成员,目前暂不支持外部数据导入,包含体检机构,社区医疗中心等</div>
		</div>
		
		
		<div class="progress panel-footer progress-xs">
			<div class="progress-bar progress-bar-danger" style="width: 100%"></div>
		</div>
	</div>	
	</div>
</div>
<div win-web-common-alert option="alertOption"></div>
