@charset "UTF-8";
/* CSS */
html, body {
  font-size: 14px; color: #333;
}
body {
  min-width: 320px; min-height: 480px;
  background-color: #f1f3f5;
}

a {
  color: #555; text-shadow: none; text-decoration: none;
}
a:hover {
  color: #6cb92d;
  cursor: pointer;
}
a:active, a:focus, a:hover {
  outline: 0 none;
}
a.disabled, a.disabled:hover, a.disabled:focus {
  color: #a7abaf;
}

.box {
  position: relative; margin-bottom: 15px;
  background: #fff none repeat scroll 0 0;
}

/* header */

.header {
  width: 100%; z-index: 999; height: 48px;
  background-color: #6cb92d; color: #fff;
  overflow: hidden; text-align: center;
}
.header > h1 {
  margin-left: 80px; margin-right: 80px;
  height: 48px; min-width: 100px;
  font-size: 16px; line-height: 48px; text-align: center;
  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.header .logo {
  display: block;
  float: left; margin: 9px 0 0 12px;
  width: 90px; height: 30px;
}
.header .logo img {
  width: 90px; height: 30px;
}
.header .avatar {
  float: left;
  margin: 9px 5px 0 0;
  width: 32px; height: 32px;
  border: 1px solid #afafaf;
}
.header-fixed {
  padding-top: 48px;
}
.header-fixed .header{
  position: fixed !important; top: 0; left: 0;
}

/****** header button ******/

.header .button-left, .header .button-right {
  position: absolute;
  height: 36px;
  color: #fff; font-size: 14px; line-height: 36px;
}
.header .button-left > i, .header .button-right > i {
  display: inline-block; min-width: 36px; height: 36px;
  font-size: 20px; line-height: 36px; text-align: center; vertical-align: middle;
}
.header .button-left > span, .header .button-right > span {
  padding-left: 6px; padding-right: 6px;
}
.header .button-left i.fa-angle-left {
  font-size: 36px;
}
.header .button-left {
  top: 6px; left: 6px;
}
.header .button-right {
  top: 6px; right: 6px;
}
.header .button-left > em {
  position: absolute; right: -8px; top: 3px;
}
.header .button-right > em {
  position: absolute; left: -8px; top: 3px;
}

.header-popmenu {
  position: absolute; right: 0; top: 48px;
  z-index: 999;
}
.header-popmenu > a {
  display: block; width: 120px; height: 36px;
  color: #fff; font-size: 14px; line-height: 35px; text-align: center;
  border-top: 1px solid #fff; background-color: #6cb92d;
}
.header-popmenu > a > i {
  font-size: 16px; margin-right: 5px;
}

.header-nav {
  margin: 10px auto;
  display: inline-block; height: 28px;
  font-size: 14px;
  border: 1px solid #fff;
}
.header-nav > a {
  display: inline-block; width: 80px; height: 26px;
  color: #fff; text-align: center; line-height: 26px;
  border-left: 1px solid #fff;
}
.header-nav > a:first-child {
  border-left: none;
}
.header-nav > a.current {
  font-size: 15px;
  color: #6cb92d;
  background-color: #fff;
}
.header-back {
  position: fixed; top: 15px; left: 15px; z-index: 99;
  padding-left: 12px;
  display: block; width: 36px; height: 36px;
  color: #fff; font-size: 24px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 18px; -webkit-border-radius: 18px; -moz-border-radius: 18px;
}
.header-back .fa {
  line-height: 36px
}
/****** footer *******/

.footer {
  width: 100%; height: 49px;
}
.footer-fixed {
  padding-bottom: 49px;
}
.footer-fixed .footer{
  position: fixed !important; bottom: 0; left: 0;
  z-index: 9;
}

.footer-nav {
  background-color: rgba(245, 245, 245, 0.95); z-index: 100;
  border-top: 1px solid #e3e5e9;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.footer-nav > a {
  position: relative; display: block; height: 49px; line-height: 47px;
  border-top: 2px solid transparent;
  color: #777; text-align: center; font-size: 12px;
}
.footer-nav > a.current, .footer-nav > a:hover {
  color: #6cb92d;
}
.footer-nav > a > i {
  display: block; height: 24px;
  font-size: 18px; line-height: 30px;
  background-size: 20px 20px; background-position: center center; background-repeat: no-repeat;
}
.footer-nav > a > .icon-home {
  background-image: url(../image/icon/tab_home_o.png);
}
.footer-nav > a > .icon-cate {
  background-image: url(../image/icon/tab_cate_o.png);
}
.footer-nav > a > .icon-activity {
  background-image: url(../image/icon/tab_activity_o.png);
}
.footer-nav > a > .icon-user {
  background-image: url(../image/icon/tab_user_o.png);
}
.footer-nav > a.current > .icon-home {
  background-image: url(../image/icon/tab_home.png);
}
.footer-nav > a.current > .icon-cate {
  background-image: url(../image/icon/tab_cate.png);
}
.footer-nav > a.current > .icon-activity {
  background-image: url(../image/icon/tab_activity.png);
}
.footer-nav > a.current > .icon-user {
  background-image: url(../image/icon/tab_user.png);
}

.footer-nav > a > span {
  display: block; height: 23px;
  line-height: 23px;
}
.footer-nav > a > .badge {
  position: absolute; left: 50%; top: 2px;
  margin-left: 16px;
}
.footer-nav > a > .badge.dot {
  padding: 0; min-width: 10px; width: 10px; height: 10px;
}
.footer-nav > a.disabled {
  background-color: #e1e1e1 !important;
}


.elevator {
  position: fixed; bottom: 50px; right:10px;
  opacity: 0.7; z-index: 100;
}
.elevator a {
  display: block; width: 36px; height: 36px;
  line-height: 36px; text-align: center;
  position: relative; margin: 8px 0; outline: none;
  border: 2px solid #f0f0f0; border-radius: 18px;
  background-color: #ccc;
}
.elevator a i {
  font-size: 28px; color: #777;
}

/****** page empty *******/
.page-empty {
  width: 100%; height: 100%;
}
.page-empty i, .page-empty span {
  position: absolute; top: 50%; left: 50%;
  display: block; width: 200px; margin-left: -100px;
  color: #d0d0d0; font-size: 14px; text-align: center;
}
.page-empty i {
  margin-top: -70px;
  color: #e0e0e0; font-size: 60px;
}

.page-more {
  padding: 10px 15px; cursor: pointer;
  display: block; width: 100%;
  color: #999; font-size: 12px; line-height: 24px; text-align: center;
}
.page-more.disabled {
  color: #ccc; cursor: default;
}

/****** line-text *******/
.line-text {
  text-align: center; overflow: hidden;
}
.line-text h2 {
  position: relative; display: inline-block;
  font-size: 21px; line-height: 1;
}
.line-text h2:before,
.line-text h2:after {
  position: absolute; top: 50%;
  width: 300%;
  border-top: 1px solid #d9d9d9;
  content: "";
}
.line-text h2:before {
  left: -310%;
}
.line-text h2:after {
  right: -310%;
}

/* pagination */
.pagination {
  margin: 10px 0;
  overflow: hidden; clear: both;
  text-align: center;
}
.pagination a {
  display: inline-block; margin: 0 5px; padding: 0 10px;
  min-width: 32px; height: 32px; line-height: 32px;
  color: #fff; font-size: 14px; text-align: center;
  background-color: #ff7348;
  -webkit-transition: border-color 0.2s; -moz-transition: border-color 0.2s; transition: border-color 0.2s;
}
.pagination a:hover {
  color: #fff; text-decoration: none;
  background-color: #e60050;
}
.pagination a.active {
  color: #ffffff; text-decoration: none;
  background-color: #e60050;
}
.pagination a.disabled {
  color: #8d98a3;
  background-color: #e2e4e7;
}
.pagination a.disabled:hover {
  color: #8d98a3;
  background-color: #e2e4e7;
}

/* 图片尺寸 */
.image-160 {
  display: inline-block; width: 160px; height: 160px;
  vertical-align: middle;
}
.image-120 {
  display: inline-block; width: 120px; height: 120px;
  vertical-align: middle;
}
.image-120-75 {
  display: inline-block; width: 120px; height: 75px;
  vertical-align: middle;
}
.image-80 {
  display: inline-block; width: 80px; height: 80px;
  vertical-align: middle;
}
.image-60 {
  display: inline-block; width: 60px; height: 60px;
  vertical-align: middle;
}
.image-40 {
  display: inline-block; width: 40px; height: 40px;
  vertical-align: middle;
}

/* 货币收入支出 */
.currency-in {
  color: #ff2200 !important; font-weight: 600;
}
.currency-in:before {
  content: '+'; font-weight: 600;
  margin-right: 2px; margin-left: 2px;
}
.currency-out {
  color: #00e74f!important; font-weight: 600;
}
.currency-out:before {
  content: '-'; font-weight: 600;
  margin-right: 2px; margin-left: 2px;
}

.i-arrow {
  display: inline-block; width: 10px; height: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  transform: rotate(315deg); -webkit-transform: rotate(315deg); -moz-transform: rotate(315deg); -ms-transform: rotate(315deg); -o-transform: rotate(315deg);
}

/* detail-wrap */
.detail-wrap {
  padding: 10px 15px;
  color: #555; font-size: 15px; line-height: 24px;
  background-color: #fff;
}
.detail-wrap img {
  width: 100% !important;
  background: #efefef url("../image/image_placeholder.jpg") no-repeat scroll center center;
}
.detail-wrap > p,
.detail-wrap ul,
.detail-wrap ol {
  margin-top: 10px;
}
.detail-wrap ul > li {
  margin-left: 20px;
  line-height: 24px;
  list-style-type: disc;
  list-style-position: outside;
}
.detail-wrap ol > li {
  margin-left: 20px;
  line-height: 24px;
  list-style-type: decimal;
  list-style-position: outside;
}
.detail-wrap a {
  color: #6cb92d;
}

