@charset "UTF-8";
/**
 * Components
 **/

/****** flex *******/
.flex{display:box;display:-ms-box;display:-webkit-box;display:flex;display:-ms-flex;display:-webkit-flex;}
.flex-12{display:block;flex:12;-ms-flex:12;-webkit-flex:12;box-flex:12;-ms-box-flex:12;-webkit-box-flex:12}
.flex-9{display:block;flex:9;-ms-flex:9;-webkit-flex:9;box-flex:9;-ms-box-flex:9;-webkit-box-flex:9}
.flex-6{display:block;flex:6;-ms-flex:6;-webkit-flex:6;box-flex:6;-ms-box-flex:6;-webkit-box-flex:6}
.flex-4{display:block;flex:4;-ms-flex:4;-webkit-flex:4;box-flex:4;-ms-box-flex:4;-webkit-box-flex:4}
.flex-3{display:block;flex:3;-ms-flex:3;-webkit-flex:3;box-flex:3;-ms-box-flex:3;-webkit-box-flex:3}
.flex-2{display:block;flex:2;-ms-flex:2;-webkit-flex:2;box-flex:2;-ms-box-flex:2;-webkit-box-flex:2}
.flex-1{display:block;flex:1;-ms-flex:1;-webkit-flex:1;box-flex:1;-ms-box-flex:1;-webkit-box-flex:1}


/****** tab *******/
.tab-nav {
  display:box; display:-ms-box; display:-webkit-box;
  display:flex; display:-ms-flex; display:-webkit-flex;
  box-shadow: 0 -1px 0 #e6e5e5 inset;
  background: #fafbfb; z-index: 100;
}
.tab-nav > a {
  flex:1;-ms-flex:1;-webkit-flex:1;box-flex:1;-ms-box-flex:1;-webkit-box-flex:1;
  position: relative; margin: 0 6px;
  display: block; height: 49px; line-height: 48px;
  border-bottom: 3px solid transparent;
  text-align: center; font-size: 14px;
}
.tab-nav > a::before {
  content: " "; color: #eee;
  position: absolute; top: 10px; left: -10px; bottom: 10px;
  width: 1px; height: auto;
  border-left: 1px solid #eee;
}
.tab-nav > a:first-child::before {
  display: none;
}
.tab-nav > a.current {
  border-bottom-color: #6cb92d; color: #6cb92d;
}
.tab-nav > a > .badge {
  position: absolute; left: 50%; top: 5px;
  margin-left: 16px;
}

/* breadcrumb */

/* #2980b9 #3498db #1abc9c */

.breadcrumb {
  list-style: none; margin-bottom: 10px;
  display:flex;display:-ms-flex;display:-webkit-flex; width: 100%;
  background: #fedfbc;
}
.breadcrumb li {
  float: left;
}
.breadcrumb li a {
  position: relative; margin-right: 18px; padding: 0 10px 0 5px;
  display: block; height: 40px;
  color: #fff; line-height: 40px; text-align: center; text-decoration: none;
  background: #fc992c;
}
.breadcrumb li:nth-child(even) a {
  background-color: #fb8604;
}
.breadcrumb li:nth-child(even) a:before {
  border-color: #fb8604;
  border-left-color: transparent;
}
.breadcrumb li:nth-child(even) a:after {
  border-left-color: #fb8604;
}
.breadcrumb li:first-child a {
  padding-left: 15px;
  /* -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px; */
}
.breadcrumb li:first-child a:before {
  border: none;
}
.breadcrumb li:last-child a {
  /* -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0; */
}
/*
.breadcrumb li:last-child a:after {
  border: none;
}
*/
.breadcrumb li a:before, .breadcrumb li a:after {
  content: ""; width: 0; height: 0;
  position: absolute; top: 0;
  border: 0 solid #fc992c;
  border-width: 20px 10px;
}
.breadcrumb li a:before {
  left: -15px;
  border-left-color: transparent;
}
.breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #fc992c;
}

.breadcrumb li a:hover {
  background-color: #e95458;
}
.breadcrumb li a:hover:before {
  border-color: #e95458;
  border-left-color: transparent;
}
.breadcrumb li a:hover:after {
  border-left-color: #e95458;
}

.breadcrumb li a:active {
  background-color: #e95458;
}
.breadcrumb li a:active:before {
  border-color: #e95458;
  border-left-color: transparent;
}
.breadcrumb li a:active:after {
  border-left-color: #e95458;
}


/**
 * list
 */
.list-group {
  margin-bottom: 15px; overflow: hidden;
}
.list-title {
  margin: 0; padding: 0 15px;
  color: #999; font-size: 14px; font-weight: 400; line-height: 28px;
}
.list-item {
  position: relative; padding: 10px 15px;
  display: box; display: -ms-box; display: -webkit-box; display: flex;display: -ms-flex;display: -webkit-flex;
  width: 100%; align-items: center; background: #fff;
  color: #555; font-size: 14px; line-height: 24px; text-align: left; vertical-align: middle;
}
.list-item:first-child, .list-title + .list-item {
  border-top: 1px solid #eee;
}
.list-item:last-child {
  border-bottom: 1px solid #eee;
}
.list-item::before {
  content: " ";
  position: absolute; bottom: 0; left: 15px;
  width: 100%; height: 1px;
  border-bottom: 1px solid #eee;
}
.list-item:last-child::before {
  display: none;
}
.list-item.active:active {
  background-color: #f5f5f5;
}
/* 内容布局 */
.list-item .list-icon {
  margin-left: 6px; margin-right: 12px;
  display: block; width: 24px; height: 24px;
  color: #aaa; font-size: 18px; text-align: center; vertical-align: middle; line-height: 24px;
}
.list-item .list-icon > img {
  display: block; width: 100%; height: 100%;
}

.list-item .list-label {
  display: block; width: 110px; padding-right: 6px;
  color: #333; font-size: 16px;
}

.list-item .list-text {
  display: block;
  flex: 1; -ms-flex: 1; -webkit-flex: 1; box-flex: 1; -ms-box-flex: 1; -webkit-box-flex: 1;
  color: #333; font-size: 16px;
}
.list-item .list-text > small {
  margin-left: 10px;
  color: #777; font-size: 14px;
}

.list-item .list-unit {
  display: block;  max-width: 66%; margin-left: 6px;
  color: #777; font-size: 14px;
}
.list-item .list-unit > img {
  display: block;
}

.list-item .list-arrow {
  position: relative; margin-left: 6px; margin-right: 2px; margin-top: 2px;
  display: block; width: 9px; height: 9px;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(315deg); -webkit-transform: rotate(315deg); -moz-transform: rotate(315deg); -ms-transform: rotate(315deg); -o-transform: rotate(315deg);
}

/* list-image */
.list-image {
  padding-top: 5px;
}
.list-image img {
  float: left; margin-right: 5px; margin-bottom: 5px;
  width: 100px; height: 100px;
}

/**
 * form
 */
.form-btn {
  margin-bottom: 15px; padding: 0 15px;
}
.form-help {
  margin-top: 10px;
  color: #999; font-size: 14px; line-height: 24px;
}

/* form-input */
.form-input {
  width: 100%; padding: 0;
  color: #555; font-size: 16px; line-height: 24px; outline: 0 none;
  border: 0 none; border-radius: 0; box-shadow: none;
}
.form-input[type="date"] {
  height: 24px;
}
input.form-input[disabled] {
  background: #fff none repeat scroll 0 0;
}

/* form-error */
.form-error > i {
  margin-left: 6px;
  color: #ee5731; font-size: 20px;
}
.list-item.list-item-error,
.list-item.list-item-error .list-label {
  color: #ee5731;
}

/* form-select */
.form-select {
  position: relative; width: 100%;
}
.form-select > select {
  margin: 0; padding: 0;
  width: 100%; height: 24px;
  color: #777; font-size: 16px;
  background: #fff none repeat scroll 0 0; outline: 0 none;
  border: 0 none; border-radius: 0;   
}
.form-select::after {
  position: absolute; top: 7px; right: 5px;
  display: block; width: 8px; height: 8px;
  font-size: 0; content: "";
  background-color: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg);
}

/* form-switch */
.form-switch > label.i-switch {
  position: relative; margin-top: -2px; margin-bottom: -2px;
  display: block; width: 48px; height: 28px;
  color: #fff; cursor: pointer;  
  background: #fff none repeat scroll 0 0;
  border-radius: 16px; box-shadow: 0 0 0 2px #e9e9e9 inset;
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0.43, 0.98) 0s;
}
.form-switch > input[type="checkbox"] {
  display: none;
}
.form-switch > label.i-switch:active {
  box-shadow: 0 0 0 1.2em #e9e9e9 inset;
}
.form-switch > label.i-switch::before {
  margin: 2px;
  width: 28px; height: 24px;
  background: #fff none repeat scroll 0 0;
  border-radius: 100px;
  box-shadow: 0 0 0 0.03em #eee inset, 0 0 0.05em rgba(0, 0, 0, 0.05), 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
  transition: margin-left 0.2s ease 0s;
}
.form-switch > input:checked + label, .form-switch > input:checked + label:active {
  box-shadow: 0 0 0 1.2em #43ac43 inset;
}
.form-switch > label.i-switch::after, .form-switch > label.i-switch::before {
  content: "";
  position: absolute;
}
.form-switch > input:checked + label {
  background: #43ac43 none repeat scroll 0 0;
  transition: all 0.15s ease-out 0s;
}
.form-switch > input:checked + label::before {
  margin-left: 18px;
}
.form-item.form-switch > label.i-switch,
.list-item.form-switch > label.i-switch {
  position: absolute; top: 10px; right: 15px;
}

/* form-radio */
.form-radio:active {
  background-color: #f5f5f5;
}
.form-radio .list-text {
  margin-top: -10px; margin-bottom: -10px;
  line-height: 44px;
}
.form-radio input[type="radio"]{
  display: none;
}
.form-radio .i-checked {
  position: relative;
  display: block; width: 24px; height: 24px;
  background-color: #eee; cursor: pointer;  
  border-radius: 50%; box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1) inset, 0 1px 4px rgba(0, 0, 0, 0.1) inset, 1px -1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease 0s;
}
.form-radio .i-checked::before {
  position: absolute; left: 4px; top: 4px;
  width: 16px; height: 16px; content: "";
  background: #43ac43 linear-gradient(#ffffff 0px, #e7e7e7 100%) repeat scroll 0 0;
  border-radius: 50%; box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(255, 255, 255, 0.4) inset;
  transition: all 0.2s ease 0s;
  transform: scale(0, 0);
}
.form-radio input:checked + .i-checked {
  background-color: #43ac43;
}
.form-radio input:checked + .i-checked::before {
  transform: scale(1, 1);
}

/* form-checkbox */
.form-checkbox:active {
  background-color: #f5f5f5;
}
.form-checkbox .list-text {
  margin-top: -10px; margin-bottom: -10px;
  line-height: 44px;
}
.form-checkbox input[type="checkbox"]{
  display: none;
}
.form-checkbox .i-checked {
  position: relative; margin-top: 1px;
  display: block; width: 22px; height: 22px;
  cursor: pointer; background-color: #eee;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1) inset, 0 1px 4px rgba(0, 0, 0, 0.1) inset, 1px -1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease 0s;
}
.form-checkbox .i-checked::before {
  position: absolute; top: -3px; left: 0;
  diplay: block; width: 100%; height: 100%;
  content: "";
  color: #43ac43; font-size: 18px; text-align: center;
  transform: scale(0, 0);
  transition: all 0.2s ease 0s;
}
.form-checkbox input:checked + .i-checked {
  background-color: #d9ecde;
}
.form-checkbox input:checked + .i-checked::before {
  content: "✔";
  transform: scale(1, 1);
}

/* form-range */
.form-range input[type="range"] {
  -webkit-appearance: none;
  display: block; width: 100%; height: 44px;
  font: 12px trebuchet ms,verdana,arial,sans-serif;
  cursor: pointer;
}
.form-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  padding: 5px; margin-top: -6px; cursor: ew-resize;
  width: 24px; height: 24px;
  border: 1px solid #777; border-radius: 50%;
  background: linear-gradient(#5c8520, #5c8520) repeat scroll 0 0 content-box, rgba(0, 0, 0, 0) radial-gradient(circle at 25% 25% , #fbfbf9, #bfccad) repeat scroll 0 0 padding-box;
}
.form-range input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%; height: 12px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  background: #eee linear-gradient(to bottom, #eee, #f5f5f5) repeat-x scroll 0 0;
}
.form-range input[type="range"]:focus::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: 0 4px 4px -2px #5c8520 inset;
  background: #000 linear-gradient(to bottom, #87c12f, #89c530) repeat scroll 0 0;
}


.form-range input[type="range"]::-moz-range-thumb {
  padding: 5px; cursor: ew-resize;
  width: 20px; height: 20px;
  border: 1px solid #777; border-radius: 50%;
  background: linear-gradient(#5c8520, #5c8520) repeat scroll 0 0 content-box, rgba(0, 0, 0, 0) radial-gradient(circle at 25% 25% , #fbfbf9, #bfccad) repeat scroll 0 0 padding-box;
}
.form-range input[type="range"]::-moz-range-track {
  width: 100%; height: 12px;
  border-radius: 4px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  background: #eee linear-gradient(to bottom, #eee, #f5f5f5) repeat-x scroll 0 0;
}
.form-range input[type="range"]::-moz-range-progress{
  height: 12px;
  border-radius: 4px; box-shadow: 0 4px 4px -2px #5c8520 inset;
  background: #000 linear-gradient(to bottom, #87c12f, #89c530) repeat scroll 0 0;
}


/* form-quantity */
.form-quantity {
  position: relative;
}
.form-quantity .form-input {
  padding-left: 44px; padding-right: 44px;
  text-align: center;
}
.form-quantity .quantity-add,
.form-quantity .quantity-min {
  position: absolute; top: -10px;
  display: block; width: 44px; height: 44px;
  color: #555; text-align: center; line-height: 44px;
  border-left: 1px solid #eee; border-right: 1px solid #eee;
}
.form-quantity .quantity-min {
  left: 0;
}
.form-quantity .quantity-add {
  right: -15px; border-right: none;
}

/* Default buttons */
.btn {
  -moz-user-select: none;
  display: inline-block;
  cursor: pointer;
  border-width: 0;
  padding: 8px 18px;
  line-height: 20px;
  font-size: 14px; font-weight: 400;
  outline: none !important;
  background-color: #e1e1e1;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  text-align: center; vertical-align: middle;
  white-space: nowrap;
}
.btn:hover, .btn:focus, .btn:active, .btn.active {
  color: #333;
  background-color: #d7d7d7;
}
.btn.dropdown-toggle, .btn:hover, .btn:disabled, .btn[disabled], .btn:focus, .btn:active, .btn.active {
  outline: none !important;
  background-image: none !important;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* Button sizes */
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  vertical-align: middle;
}
.btn-lg > i {
  font-size: 18px;
}

.btn-sm,
.btn-xs {
  padding: 4px 10px 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.btn-sm > i,
.btn-xs > i {
  font-size: 12px;
}

.btn-xs {
  padding: 1px 5px;
}
.btn-xs > i {
  font-size: 12px;
}

/* Arrow link */
.btn-arrow-link {
  vertical-align: middle;
  display: inline-block;
  font-size: 13px;
}
.btn-arrow-link > i {
  font-size: 14px;
  line-height: 14px;
  vertical-align: top;
  margin: 2px 3px 2px 3px;
}
.btn-arrow-link.btn-arrow-link-lg {
  font-size: 14px;
}
.btn-arrow-link.btn-arrow-link-lg > i {
  font-size: 16px;
  line-height: 16px;
  margin: 2px 3px 1px 3px;
}

/* Circle Buttons */
.btn-circle {
  border-radius: 25px !important;
}

.btn-circle-right {
  border-radius: 0 25px 25px 0 !important;
}

.btn-circle-left {
  border-radius: 25px 0 0 25px !important;
}

.btn-circle-bottom {
  border-radius: 0 0 25px 25px !important;
}

.btn-circle-top {
  border-radius: 25px 25px 0 0 !important;
}

.btn-icon-only {
  height: 34px;
  width: 34px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.btn-icon-only > [class^="icon-"],
.btn-icon-only > i {
  text-align: center;
  margin-top: 2px;
}

.btn-sm > [class^="glyphicon-"],
.btn-sm > [class*=" glyphicon-"],
.btn-sm > i {
  font-size: 13px;
}

.btn-xs > [class^="glyphicon-"],
.btn-xs > [class*=" glyphicon-"],
.btn-xs > i {
  font-size: 11px;
}

/* Button color */

/* default */
.default.btn {
  color: #666;
  background-color: #f7f7f7;
  border: 1px solid #e1e5ec;
}
.default.btn:hover, .default.btn:focus, .default.btn.active {
  color: #666;
  background-color: #f1f1f1;
  border-color: #bcc5d4;
}

/* gray */
.gray.btn {
  color: #666;
  background-color: #e1e5ec;
  border-color: "";
}
.gray.btn:hover, .gray.btn:focus, .gray.btn.active {
  color: #666;
  background-color: #c2cad8;
}

/* red */
.red.btn {
  color: white;
  background-color: #e35b5a;
  border-color: "";
}
.red.btn:hover, .red.btn:focus, .red.btn:active {
  color: white;
  background-color: #e15151;
}

/* green */
.green.btn {
  color: white;
  background-color: #6cb92d;
  border-color: "";
}
.green.btn:hover, .green.btn:focus, .green.btn.active {
  color: white;
  background-color: #63a929;
}

/* blue */
.blue.btn {
  color: white;
  background-color: #46a7bf;
  border-color: "";
}
.blue.btn:hover, .blue.btn:focus, .blue.btn.active {
  color: white;
  background-color: #3f9fb8;
}

/* yellow */
.yellow.btn {
  color: white;
  background-color: #f4d03f;
  border-color: "";
}
.yellow.btn:hover, .yellow.btn:focus, .yellow.btn.active {
  color: white;
  background-color: #f2c718;
}

/* orange */
.orange.btn {
  color: white;
  background-color: #fb8604;
  border-color: "";
}
.orange.btn:hover, .orange.btn:focus, .orange.btn.active {
  color: white;
  background-color: #e87e04;
}

/* purple */
.purple.btn {
  color: white;
  background-color: #8a3f8a;
  border-color: "";
}
.purple.btn:hover, .purple.btn:focus, .purple.btn.active {
  color: white;
  background-color: #823c82;
}


/* disabled */
.btn.disabled {
  cursor: not-allowed;
  color: #999;
  background-color: #edeff3;
  border: 1px solid #e1e5ec;
}
.btn.disabled:hover, .btn.disabled:focus, .btn.disabled.active {
  cursor: not-allowed;
  color: #999;
  background-color: #eee;
}

/**
 * Customized Bootstrap Labels
 **/
.label {
  text-shadow: none !important;
  font-size: 12px;
  font-weight: 300;
  padding: 3px 6px 3px 6px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.label.label-sm {
  font-size: 12px;
  padding: 0px 4px 1px 4px;
}
h1 .label, h2 .label, h3 .label, h4 .label, h5 .label, h6 .label {
  font-size: 75%;
}
/**
 * Iconic labels
 */
.label.label-icon {
  padding: 4px 0px 4px 4px;
  margin-right: 2px;
  text-align: center !important;
}
.label.label-icon > i {
  font-size: 14px;
  text-align: center !important;
}


/* Label color */

/* default */
.default.label, .default.label:hover {
  color: #666;
  background-color: #e1e5ec;
}

/* gray */
.gray.label, .gray.label:hover {
  color: #333333;
  background-color: #e5e5e5;
}

/* red */
.red.label, .red.label:hover {
  color: #fff;
  background-color: #e35b5a;
}

/* green */
.green.label, .green.label:hover {
  color: #fff;
  background-color: #6cb92d;
}

/* blue */
.blue.label, .blue.label:hover {
  color: #fff;
  background-color: #46a7bf;
}

/* yellow */
.yellow.label, .yellow.label:hover {
  color: #fff;
  background-color: #f4d03f;
}

/* orange */
.orange.label, .orange.label:hover {
  color: #fff;
  background-color: #fb8604;
}

/* purple */
.purple.label, .purple.label:hover {
  color: #fff;
  background-color: #8a3f8a;
}

/**
 * Custom Bootstrap Badges
 **/
.badge {
  padding: 3px 6px 3px 6px;
  display: inline-block; min-width: 18px; height: 18px;
  color: #fff; font-size: 11px !important; font-weight: 300; line-height: 12px;
  text-align: center; vertical-align: middle; text-shadow: none !important; white-space: nowrap;
  border-radius: 9px !important; -moz-border-radius: 9px !important; -webkit-border-radius: 9px !important;
}
.badge.badge-roundless {
  border-radius: 0 !important; -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important;
}
.badge.dot {
  padding: 0; min-width: 10px; width: 10px; height: 10px;
}

/* Badge color */

/* gray */
.gray.badge {
  background-color: #c6c6c6;
}
/* red */
.red.badge {
  background-color: #e35b5a;
}
/* green */
.green.badge {
  background-color: #6cb92d;
}
/* blue */
.blue.badge {
  background-color: #46a7bf;
}
/* yellow */
.yellow.badge {
  background-color: #f4d03f;
}
/* orange */
.orange.badge {
  background-color: #fb8604;
}
/* purple */
.purple.badge {
  background-color: #8a3f8a;
}

/**
 * Customized Bootstrap Notes
 */
.note {
  margin: 0 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.note.note-bordered {
  border: 1px solid transparent;
  border-left: 5px solid #eee;
}
.note h1,
.note h2,
.note h3,
.note h4,
.note h5,
.note h6 {
  margin-top: 0;
}
.note p:last-child {
  margin-bottom: 0;
}
.note i {
  margin-right: 6px;
}
.note code,
.note .highlight {
  background-color: #fff;
}
.note.note-default {
  background-color: #e7e7e7;
  border-color: #a7a7a7;
  color: #333333;
}
.note.note-default.note-bordered {
  background-color: #c9c9c9;
  border-color: #a5a5a5;
}
.note.note-primary {
  background-color: #5697d0;
  border-color: #2a7696;
  color: #d8e3f2;
}
.note.note-primary.note-bordered {
  background-color: #468dcb;
  border-color: #2c7c9e;
}
.note.note-success {
  background-color: #eef7ea;
  border-color: #bbdba1;
  color: #3c763d;
}
.note.note-success.note-bordered {
  background-color: #e2f1dc;
  border-color: #c1dea8;
}
.note.note-info {
  background-color: #eef7fb;
  border-color: #91d9e8;
  color: #31708f;
}
.note.note-info.note-bordered {
  background-color: #ddeff8;
  border-color: #9adcea;
}
.note.note-warning {
  background-color: #fcf8e3;
  border-color: #f2cf87;
  color: #8a6d3b;
}
.note.note-warning.note-bordered {
  background-color: #faf3d1;
  border-color: #f3d390;
}
.note.note-danger {
  background-color: #f9f0f0;
  border-color: #dca7b0;
  color: #a94442;
}
.note.note-danger.note-bordered {
  background-color: #f3e2e2;
  border-color: #dfaeb7;
}

/**
 * Customized Bootstrap Alerts
 **/
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.alert.alert-bordered {
  border-style: solid;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert i {
  margin-right: 6px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

